* {
    padding: 0;
    margin: 0;
    overflow-y: hidden;
    --color-1: #213448;
    --color-2: #547792;
    --color-3: #94B4C1;
    --color-4: #ECEFCA;
}

html, body, #app {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    position: relative;
    background-color: #000;
}
